{{>header}}
        
        <p>Listado de Cursos</p>
        {{{listarCursos}}}
        <form action="/registrarCurso" method="post">
            <input type="number" name="id" placeholder="Id">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="text" name="descripcion" placeholder="Descripcion">
            <input type="number" name="valor" placeholder="Valor">
            <select name="modalidad">
                <option value="virtual">Virtual</option>
                <option value="presencial">Presencial</option>
            </select>
             <input type="number" name="intensidad" placeholder="Intensidad Horaria">
            <button>Registrar Curso</button>
        </form>
{{>footer}}