<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/style.css">
        <title>Entrega 2</title>
    </head>
    <body>
        <header><h1>Bienvenido a la segunda entrega {{nombre}}</h1></header>
        
        <p>Este es el contenido de la segunda entrega </p>

        <footer>
            Todos los derechos reservados
        </footer>
    </body>
</html>