{{>header}}
        
        <p>Curso:</p>
        {{{verCurso idCurso}}}
        <br>
        <p>Inscritos:</p>
        {{{verInscritos idCurso}}}
        <a href="/coordinador">Volver</a>
       
{{>footer}}