body{
 color: gray;
 font-family: Arial, Helvetica, sans-serif;
 min-height: 100vh;
}
footer{
    color: red;
    border-top:2px solid red;
    margin-top:16px;
}

header{
        margin-top:16px;
        margin-bottom: 48px;
}

h1{
    font-size: 48px;
    margin-top: 16px;
}